<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="pluginSetting" type="Qxun.Core.Section.PluginSettingSection, Qxun.Core" />
  </configSections>
  
  <pluginSetting>
    <base isVerify="false" />
    <plugins>
      <plugin assembly="Qxun.UI.Background, Version=1.0.0.0, Culture=neutral" />
      <plugin assembly="Qxun.App.Weistone, Version=1.0.0.0, Culture=neutral" />
	    <plugin assembly="Qxun.App.Plugins.CustomMenu, Version=1.0.0.0, Culture=neutral" />
      <plugin assembly="Qxun.Plugs.CMS, Version=1.0.0.0, Culture=neutral" />
      <plugin assembly="Qxun.App.Plugins.WeiShop, Version=1.0.0.0, Culture=neutral" />
      <plugin assembly="Qxun.Plugs.WeiStore, Version=1.0.0.0, Culture=neutral" />
	    <plugin assembly="Qxun.Plugs.WeiXinUser, Version=1.0.0.0, Culture=neutral" />
      <plugin assembly="Qxun.Plugs.ShortMessageService, Version=1.0.0.0, Culture=neutral" />
      <plugin assembly="Qxun.App.Plugins.WeiShop, Version=1.0.0.0, Culture=neutral" />
      <plugin assembly="Qxun.Plugs.MicMembership, Version=1.0.0.0, Culture=neutral" />
      <plugin assembly="Qxun.App.Plugins.WeiChannel, Version=1.0.0.0, Culture=neutral" />
      <plugin assembly="Qxun.Plugs.WeiEvent, Version=1.0.0.0, Culture=neutral" />
    </plugins>
  </pluginSetting>

  <connectionStrings>
    <add name="WeixinPlatContext" connectionString="data source=192.168.0.90:1521/ORCL;Persist Security Info=True;User ID=shaphar;Password=shaphar;" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SaveFilePath" value="~/Upload" />

    <!--<add key="DomainName" value="http://dove.qxuninfo.com" />-->
    <add key="DomainName" value="http://localhost" />
    <add key="AdminAppVirtualPath" value="/weixin1" />
    <add key="WeisiteAppVirtualPath" value="/weisite1" />
    <add key="WechatMessagesCommunicationAppVirtualPath" value="/weixin1" />
    
    <add key="WeiShopAdminAppURL" value=""/>
    <add key="WeiShopAppURL" value=""/>
    <add key="KeyStr" value="1862CA7F548BE5EDD69CDF5F55700C63E2634EE291E2C9FC60CBBA73AD539E50167210D9FD1B90F48D1279D1AE5F1C33C4AC162845D7D50C7D03CC4190C86AD64352775DCFD24E0B151509D1096B53C87A9701F36FB6609CF97B05573C0EBF6526306DFB9666B837E0E8CA1AF0DB9576A9171D2444BB14D606A8A758A85ED0ED" />
    <!--***********************************邮件密码重置配置信息开始***********************************-->    
    <add key="SMTPServer" value="smtp.exmail.qq.com" />
    <add key="SMTPUsername" value="support@qxuninfo.com" />
    <add key="SMTPPassword" value="Qxun321" />
    <add key="ResetPasswordMailSubject" value="微讯通密码重置" />
    <add key="ResetPasswordMailContent" value="亲爱的用户，您好：&lt;br/&gt;&lt;br/&gt;您的微讯通密码已重置，新的登录密码为：{0}。&lt;br/&gt;&lt;br/&gt;请登录后修改您的密码：&lt;a href=&quot;http://www.weistone.net/weixin&quot;&gt;http://www.weistone.net/weixin&lt;/a&gt;。" />
    <!--***********************************邮件密码重置配置信息开始***********************************-->
    <!--***********************************自定义平台版权信息开始***********************************-->
    <!--整个平台的Logo-->
    <add key="PlatLogo" value="~/Content/Images/logo22.jpg"/>
    <!--登录的Logo-->
    <add key="LoginLogo" value="~/Content/Images/Loginlogo.png"/>
    <!--浏览器中标签页显示的标题-->
    <add key="PlatTitle" value="微讯通"/>
    <!--欢迎页面的欢迎语-->
    <add key="Welcomes" value="欢迎使用微讯通"/>
    <!--平台版权-->
    <add key="PlatCopyRightChinese" value="上海谦讯网络科技有限公司 © 2013-2014版权所有"/>
    <add key="PlatCopyRightEnglish" value="Copyright2013-2014 © weistone.net All Rights Reserved"/>
    <!--微官网默认版权-->
    <add key="WeiSiteCopyRight" value="©谦讯网络"/>
    <!--地址提示，比如预约功能中的地市提示-->
    <add key="AddRessHint" value="如上海市杨浦区黄兴路1599号新纪元国际广场1612室"/>
    <!--地图坐标-->
    <!--经度121.540922-->
    <add key="lng" value="114.183806"/>
    <!--纬度-->
    <add key="lat" value="22.324294"/>
    <!--电话提示-->
    <add key="TelNumHint" value="如021-65017738"/>
    <!--会员卡Logo-->
    <add key="MemberCardLogo" value="~/Content/Images/logo.png"/>
    <!--渠道二维码图片地址-->
    <add key="QrcodeImageSrc" value="~/Content/Images/qrcode_default.jpg"/>
    <!--***********************************自定义平台版权信息结束***********************************-->  
  </appSettings>

  <entityFramework>
    <defaultConnectionFactory type="Oracle.ManagedDataAccess.EntityFramework.OracleConnectionFactory, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <system.web>
    <compilation debug="true" />
    <customErrors mode="Off"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>