<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="pluginSetting" type="Qxun.Core.Section.PluginSettingSection, Qxun.Core" />
  </configSections>
  <!--***********************************插件配置节***********************************-->  
  <pluginSetting>
    <base isVerify="false" />
    <plugins>
      <plugin assembly="Qxun.UI.Background, Version=1.0.0.0, Culture=neutral" />
      <plugin assembly="Qxun.App.Weistone, Version=1.0.0.0, Culture=neutral" />
      <!--自动回复-->
	  <plugin assembly="Qxun.App.Plugins.AutoReply, Version=1.0.0.0, Culture=neutral" />
      <!--数据统计-->	  
      <plugin assembly="Qxun.App.Plugins.Analytics, Version=1.0.0.0, Culture=neutral" />
	  <!--公众号群发消息-->
      <plugin assembly="Qxun.Plugs.PushMessage, Version=1.0.0.0, Culture=neutral" />
	  <!--自定义菜单-->
      <plugin assembly="Qxun.App.Plugins.CustomMenu, Version=1.0.0.0, Culture=neutral" />
	  <!--素材管理-->
      <plugin assembly="Qxun.Plugs.CMS, Version=1.0.0.0, Culture=neutral" />
	  <!--粉丝管理-->
	  <plugin assembly="Qxun.Plugs.WeiXinUser, Version=1.0.0.0, Culture=neutral" />
	  <!--短信运维-->
      <plugin assembly="Qxun.Plugs.ShortMessageService, Version=1.0.0.0, Culture=neutral" />
	  <!--微信被动响应消息服务-->
      <plugin assembly="Qxun.App.Plugins.WeixinMessageService, Version=1.0.0.0, Culture=neutral" />
      <!--微商城-->
      <plugin assembly="Qxun.App.Plugins.WeiShop, Version=1.0.0.0, Culture=neutral" />
      <!--微会员-->
      <plugin assembly="Qxun.Plugs.MicMembership, Version=1.0.0.0, Culture=neutral" />
      <!--微渠道-->
      <plugin assembly="Qxun.App.Plugins.WeiChannel, Version=1.0.0.0, Culture=neutral" />
      <!--微官网-->
      <plugin assembly="Qxun.Plugs.MicWebsite, Version=1.0.0.0, Culture=neutral" />
      <!--微相册-->
      <plugin assembly="Qxun.App.Plugins.WeiAlbum, Version=1.0.0.0, Culture=neutral" />
      <!--微客服-->
      <plugin assembly="Qxun.App.Plugins.WeiCustomerService, Version=1.0.0.0, Culture=neutral" />
      <!--微预约、微调研、微投票-->
      <plugin assembly="Qxun.App.Plugins.WeiReservation, Version=1.0.0.0, Culture=neutral" />
      <!--微房产-->
      <plugin assembly="Qxun.Plugs.HouseProperty, Version=1.0.0.0, Culture=neutral" />
      <!--微活动-->
      <plugin assembly="Qxun.Plugs.WeiEvent, Version=1.0.0.0, Culture=neutral" />
      <!--附近门店-->
      <plugin assembly="Qxun.Plugs.WeiStore, Version=1.0.0.0, Culture=neutral" />
      <!--企业号功能-->
      <plugin assembly="Qxun.App.Plugins.QY, Version=1.0.0.0, Culture=neutral" />
      <!--Carrier-->
      <plugin assembly="Qxun.App.Plugins.Carrier, Version=1.0.0.0, Culture=neutral" />
      <!--CarrierWechat-->
      <plugin assembly="Qxun.App.Plugins.CarrierWechat, Version=1.0.0.0, Culture=neutral" />
    </plugins>
  </pluginSetting>
  <!--***********************************数据库连接配置节***********************************-->    
  <connectionStrings>
    <add name="WeixinPlatContext" connectionString="data source=.;initial catalog=CarrierWechat;persist security info=True;user id=sa1;password=sa1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="WeixinAnalyticsContext" connectionString="data source=.;initial catalog=WeisiteAnalytics;persist security info=True;user id=sa1;password=sa1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--***********************************web应用配置接***********************************-->   
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<!--保存上传图片的文件夹路径-->
    <add key="SaveFilePath" value="~/Upload" />
	<!--如果AdminApp与WeisiteApp域名相同，则填写web应用绑定的域名（如http://test.qxuninfo.com），否则留空-->	
    <add key="DomainName" value="http://ryan.qxuninfo.com" />
	<!--如果AdminApp与WeisiteApp域名相同，则填写AdminApp的相对路径（如/weixin），否则填写AdminApp的完整域名（如：http://weixin.qxuninfo.com）-->	
    <add key="AdminAppVirtualPath" value="/CarrierWechatWeb" />
	<!--如果AdminApp与WeisiteApp域名相同，则填写WeisiteApp的相对路径（如/weisite），否则填写WeisiteApp的完整域名（如：http://weisite.qxuninfo.com）-->	
    <add key="WeisiteAppVirtualPath" value="/CarrierWechatSite" />
	<!--如果AdminApp与WeisiteApp域名相同，则填写AdminApp的相对路径（如/weixin），否则填写AdminApp的完整域名（如：http://weixin.qxuninfo.com）-->	
    <add key="WechatMessagesCommunicationAppVirtualPath" value="/CarrierWechatWeb" />
	<!--填写WeisiteApp的完整域名（如：http://test.qxuninfo.com/weisite http://weisite.qxuninfo.com）-->	
    <add key="editMicWebSiteUrl" value="http://ryan.qxuninfo.com/CarrierWechatSite" />
    
	<!--可选配置节，如有微商城，填写微商城后台的完整域名-->
    <add key="WeiShopAdminAppURL" value="" />
	<!--可选配置节，如有微商城，填写微商城手机端的完整域名-->	
    <add key="WeiShopAppURL" value="" />
	<!--可选配置节，如有微客服，填写微客服后台的完整域名-->	
    <add key="ChatSiteUrl" value="" />
	<!--可选配置节，如有微客服，填写微客服消息服务器的完整域名-->	
    <add key="ChatHostUrl" value="" />
	<!--可选配置节，如有微客服，填写微客服手机端聊天页面的完整URL地址-->	
    <add key="CustomerServicePath" value="" />
    
    <add key="KeyStr" value="7914386513D85583E8CFA8505C31035BD108C2A4ADF972753DC80471E68C5756825AEF651A2BC918D75C69580BFCD7311962C0070684DE1C0DF2012736E5C3B90DFEB890A0737AB71B6907B6DECDEE0D8FC79517BDF7EC4FD1705FEE3843E7905B86895A07BB4D0BD5035C0C2FDC8DF24DB93618BF4B10965206ACDF1AB90DFA" />
    
	<!--***********************************二维码登录接口调用IP白名单，英文逗号分隔***********************************-->
    <add key="QRCodeLoginAllowedIP" value="218.244.128.138" />   
    <!--***********************************短消息重发时间间隔（秒）***********************************-->
    <add key="SMSResendTime" value="60" />	
    <!--***********************************同步微信用户信息间隔时间***********************************-->
    <add key="SynchronizeWeixinUserTime" value="720" />
    <!--***********************************邮件密码重置配置信息开始***********************************-->    
    <add key="SMTPServer" value="smtp.exmail.qq.com" />
    <add key="SMTPUsername" value="support@qxuninfo.com" />
    <add key="SMTPPassword" value="Qxun321" />
    <add key="ResetPasswordMailSubject" value="微讯通密码重置" />
    <add key="ResetPasswordMailContent" value="亲爱的用户，您好：&lt;br/>&lt;br/>您的微讯通密码已重置，新的登录密码为：{0}。&lt;br/>&lt;br/>请登录后修改您的密码：&lt;a href=&quot;http://www.weistone.net/weixin&quot;>http://www.weistone.net/weixin&lt;/a>。" />
    <!--***********************************邮件密码重置配置信息结束***********************************-->
    <!--***********************************自定义平台版权信息开始***********************************-->
    <!--整个平台的Logo-->
    <add key="PlatLogo" value="~/Content/Images/logo22.jpg" />
    <!--登录的Logo-->
    <add key="LoginLogo" value="~/Content/Images/Loginlogo.png" />
    <!--浏览器中标签页显示的标题-->
    <add key="PlatTitle" value="微讯通" />
    <!--系统名称-->
    <add key="PlatName" value="微讯通"/>
    <!--系统地址-->
    <add key="PlatUrl" value="http://www.weistoneadmin.net"/>
    <!--欢迎页面的欢迎语-->
    <add key="Welcomes" value="欢迎使用微讯通" />
    <!--平台版权-->
    <add key="PlatCopyRightChinese" value="上海谦讯网络科技有限公司 © 2013-2015版权所有"/>
    <add key="PlatCopyRightEnglish" value="© 2013-2015 Qxuninfo, All Rights Reserved."/>
    <!--备案号-->
    <add key="BeianNum" value="&lt;a href='http://www.miitbeian.gov.cn/' target='_blank' &gt;沪ICP备14003637号-4&lt;/a&gt;"/>
    <!--微官网默认版权-->
    <add key="WeiSiteCopyRight" value="©谦讯网络" />
    <!--地址提示，比如预约功能中的地市提示-->
    <add key="AddRessHint" value="如上海市杨浦区黄兴路1599号新纪元国际广场1612室" />
    <!--地图坐标-->
    <!--经度121.540922-->
    <add key="lng" value="114.183806" />
    <!--纬度-->
    <add key="lat" value="22.324294" />
    <!--电话提示-->
    <add key="TelNumHint" value="如021-65017738" />
    <!--会员卡Logo-->
    <add key="MemberCardLogo" value="~/Content/Images/logo.png" />
    <!--渠道二维码图片地址-->
    <add key="QrcodeImageSrc" value="~/Content/Images/qrcode_default.jpg" />
    <!--***********************************自定义平台版权信息结束***********************************-->
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <!--设置Session过期时间为8小时-->
    <sessionState mode="InProc" timeout="480"/>
    <compilation debug="true" />
    <customErrors mode="Off"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>