/*自定义菜单手机预览*/
.mobile_preview{background: url("../../Content/Images/bg_mobile1e.png") no-repeat;width: 322px;position: fixed;display: none;top: 50%;left: 50%;width: 322px;margin-top: -315px;margin-left: -161px;z-index: 9999;}
.mobile_preview_hd{height: 168px;text-align: center;}
.nickname{display: inline-block;padding-top: 140px;width: 140px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;font-size: 12px;color: rgb(255, 255, 255);}
.mobile_preview_bd{position: relative;height: 310px;margin-left: 40px;margin-right: 28px;overflow-y: scroll;}
.mobile_preview_ft{height: 152px;}
.pre_menu_list{margin-left: 78px;margin-right: 36px;}
.pre_menu_item{position: relative;float: left;line-height: 38px;background: url("../../Content/Images/bg_menu_split_v1.png") no-repeat 100% 50%;}
.size1of3{width: 33.33%;}
.grid_item{float: left;}
.pre_menu_item a{display: block;width: auto;overflow: hidden;text-overflow: ellipsis;    white-space: nowrap;word-wrap: normal;color: rgb(255, 255, 255);margin-right: 12px;text-align: center;text-decoration: none;text-shadow: 0 1px 1px rgb(0, 0, 0);line-height: inherit;}
.sub_pre_menu_box{position: absolute;bottom: 50px;left: 50%;margin-left: -50px;border: 1px solid rgb(67, 67, 67);box-shadow: 0 1px 3px rgb(128, 128, 128),inset 0 1px 0 rgb(101, 101, 101);-moz-box-shadow: 0 1px 3px #808080,inset 0 1px 0 #656565;-webkit-box-shadow: 0 1px 3px rgb(128, 128, 128),inset 0 1px 0 rgb(101, 101, 101);background-color: rgb(79, 79, 79);}
.sub_pre_menu_list li{line-height: 30px;}
.sub_pre_menu_list li a{width: 85px;margin: 1px;}
.sub_pre_menu_list li a:hover {background-color: rgb(43, 43, 43);color: rgb(255, 255, 255);}
.sub_pre_menu_box .arrow_out{bottom: -9px;display: inline-block;width: 0;height: 0;border-width: 8px;border-style: dashed;border-color: rgba(0, 0, 0, 0);border-bottom-width: 0;border-top-color: rgb(67, 67, 67);border-top-style: solid;}
.sub_pre_menu_box .arrow{position: absolute;left: 50%;margin-left: -8px;}
.sub_pre_menu_box .arrow_in{bottom: -8px;display: inline-block;width: 0;height: 0;border-width: 8px;border-style: dashed;border-color: rgba(0, 0, 0, 0);border-bottom-width: 0;border-top-color: rgb(79, 79, 79);order-top-style: solid;}
.mask {position: fixed;top: 0;left: 0;width: 100%;height: 100%;filter: alpha(opacity = 75);-moz-opacity: .75;-khtml-opacity: .75;opacity: .75;background-color: rgb(0, 0, 0);z-index: 9998;}
.mobile_preview_closed {position: absolute;top: -10px;right: -16px;cursor: pointer;line-height: 200px;overflow: hidden;background: rgba(0, 0, 0, 0) url("../../Content/Images/icon_closed1e.png") no-repeat 0 0;width: 65px;height: 65px;vertical-align: middle;display: inline-block;}
.mobile_preview_closed:hover{background-position:-65px 0}
#txtContent a{margin:0}

/*自定义菜单的分类*/
.inner_container_box{background-color: rgb(255, 255, 255);border: 1px solid rgb(231, 231, 235);}
.side_l.inner_container_box .inner_side{border-right: 1px solid rgb(231, 231, 235);}
.inner_container_box.cell_layout .inner_side{width: 27%;max-width: 240px;}
.inner_container_box.cell_layout .inner_side, .inner_container_box.cell_layout .inner_main{display: table-cell;vertical-align: top;word-wrap: break-word;word-break: break-all;}
.inner_container_box .bd{min-height: 564px;}
.inner_container_box.cell_layout .inner_main{width: 660px;}
.inner_container_box_bd .sub_title_bar {line-height: 36px;padding: 0 12px;font-size: 0;height: 36px}
.sub_title_bar.light {background-color: rgb(244, 245, 249);border-bottom: 1px solid rgb(231, 231, 235);}
.sub_title_bar h4 {float: left;font-weight: 400;font-style: normal;font-size: 14px;line-height: 36px;color: rgb(51, 51, 51)}
.inner_container_box_bd .sub_title_bar .opr_wrp {text-align: right;line-height: 36px}
.inner_menu {border-top: 1px solid rgb(231, 231, 235);margin: 0px;}
.inner_menu:first-child {border-top-width: 0;}
dt, dd {line-height: 20px;margin: 0}
dt {font-weight: bold;}
.inner_menu_item {position: relative;line-height: 32px;}
.inner_menu_box.with_switch dt .inner_menu_link {padding-left: 20px;line-height: 32px;}
.inner_menu_link {display: block;color: rgb(34, 34, 34);padding-left: 1em;text-decoration: none;}
.inner_menu_link strong {display: inline-block;margin-top: -2px;width: auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;max-width: 80px;font-weight: 400;font-style: normal;vertical-align: middle;cursor: pointer;}
.page_menu_setting .inner_menu_link strong {width: 80px;}
.inner_menu .menu_opr {display: none;position: absolute;top: 0;right: 1em;line-height: 31px;}
.inner_menu .menu_opr a {display: inline-block;margin-top: 7px;}
.inner_menu_box.with_switch .icon_dot {position: absolute;top: 50%;left: 25px;margin-top: -14px;-webkit-transform: scale(0.8);font-size: 10px;}
.icon_dot {display: inline-block;font-weight: 400;font-style: normal;vertical-align: middle;font-size: 8px;color: rgb(170, 170, 170);}
.inner_menu_box.with_switch dd .inner_menu_link {padding-left: 36px;line-height: 32px;}
dd .inner_menu_link {padding-left: 2em;}
.page_menu_setting .inner_menu_link strong {width: 80px;}
.inner_menu_box.gray .inner_menu_item:hover, .inner_menu_box.gray .inner_menu_item.selected {background-color: rgb(244, 245, 249);}
.inner_menu_item:hover .menu_opr, .inner_menu_item.selected .menu_opr {display: block;}

.sub_title_bar.light {background-color: rgb(244, 245, 249);border-bottom: 1px solid rgb(231, 231, 235);}
.action_content.default .action_tips {padding-top: 200px;text-align: center;}
.action_content {display: none;width: 100%;height: auto;}
.action_content.init .action_tips {padding-top: 40px;text-align: center;padding-bottom: 60px;}
.action_content.init .action_children_tips{padding: 20px;text-align: left;}
.action_content.init a {color: rgb(34, 34, 34);text-decoration: none;display: inline-block;margin-left: 30px;margin-right: 30px;margin-top: 20px;position: relative;}
.action_content.init .singleChoosePic {margin: 20px 0px;color: rgb(255, 255, 255);}
.action_content.init {padding: 0px;text-align: center;}

.inner_container_box_ft {padding: 12px 16px;min-height: 22px;text-align: center;border-top: 1px solid rgb(231, 231, 235);background-color: rgb(244, 245, 249);}
.inner_container_box_ft .menu_msg {position: absolute;}
.mini_tips.warn {color: rgb(225, 95, 99);}
.mini_tips.success {color: rgb(127, 186, 79);}
input[class=EditMenuInput]{width: 110px;margin-bottom: 4px;margin-top: 4px;height: 19px;line-height: 19px;padding:0;border: 1px solid rgb(220, 220, 220);}
.inner_menu_box.sorting .menu_opr {display: block;}
.drag_placeholder{margin:8px;height:80px;border:1px solid #e7e7eb}.sub_drag_placeholder{margin:8px;height:32px;border:1px solid #e7e7eb}

.sureViewDiv{width: 300px;height: 282px;position: absolute;top: -72px;left: 115px;z-index: 9999;display: none}
.action_setting:hover .sureViewDiv{display: block}
.textPhoneDiv{border: 1px solid rgb(231, 231, 235);  background-color: rgb(255, 255, 255);width: 90%;margin-top: 10px;padding-bottom: 14px;padding-top: 14px;padding-left: 14px;border-radius:5px}

.text-list-content{border: 1px solid rgb(221, 221, 221);height: 252px;float: right;}
.text-list-title{padding-top: 5px;text-align: center;border-bottom: 1px solid rgb(221, 221, 221);padding-bottom: 5px;}
.text-list-content .text-list li{ padding: 5px;cursor: pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-align: left;}
.text-list-content .text-list li:hover{ background: rgb(221, 221, 221)}
.text-list-content .text-list {overflow-y: auto;height: 162px;}
.text-list-content input{width: 100%;border: 0px;border-bottom: 1px solid rgb(204, 204, 204);border-radius: 0px !important;text-align: center;}

.keywords_reply_list{margin-left: 10px;}
.keywords_reply_list li{ width: 225px;height: 292px;border: 1px solid rgb(204, 204, 204);margin-right: 10px;float: left;margin-top: 10px;margin-bottom: 10px;}
.keywords_reply_list li:first-child{border-top-width: 1px;}
.keywords_reply_list li .reply_content{ text-align: left; height: 219px;border-bottom: 1px solid rgb(204, 204, 204); overflow: hidden;padding: 0 10px 0 10px}
.keywords_reply_list li .reply_content .imgUrl{ width: 100%; max-height: 114px;}
.keywords_reply_list li .reply_footer{height: 41px;background: rgb(231, 231, 235)}
.keywords_reply_list li .reply_footer li{height: 41px;float: left;width: 49%;border: 0;text-align: center;margin-right: 0px;margin-top: 0px;margin-bottom: 0px;}
.keywords_reply_list li .reply_footer li:first-child{border-right: 1px solid rgb(204, 204, 204);}
.keywords_reply_list li .reply_title{height: 30px;border-bottom: 1px solid rgb(204, 204, 204);text-align: center;line-height: 30px;background: rgb(231, 231, 235);}
.icon18_common.download_gray {background: url("../../Content/Images/base_z.png") 0 -5596px no-repeat;}
.icon18_common.edit_gray {background: url("../../Content/Images/base_z.png") 0 -5960px  no-repeat;}
.icon18_common.del_gray {background: url("../../Content/Images/base_z.png") 0 -5316px  no-repeat;}
.icon18_common.edit_gray:hover, a:hover .icon18_common.edit_gray {background: url("../../Content/Images/base_z.png") 0 -5988px no-repeat;}
.icon18_common.download_gray:hover, a:hover .icon18_common.download_gray {background: url("../../Content/Images/base_z.png") 0 -5624px no-repeat;}
a:hover .icon18_common.del_gray, .icon18_common.del_gray:hover {background: url("../../Content/Images/base_z.png") 0 -5344px no-repeat;}
a:hover .icon18_common.del_gray, .icon18_common.del_gray:hover {background: url("../../Content/Images/base_z.png") 0 -5344px no-repeat;}
.icon18_common {width: 18px;height: 18px;vertical-align: middle;display: inline-block;line-height: 100px;overflow: hidden;}

.modal-body .functionBar .emotions {
position: absolute;
top: -117px;
left: 50px;
border: 1px solid rgb(170, 170, 170);
padding: 5px;
background-color: rgb(255, 255, 255);
z-index: 9999;
display: none;
}