.icon_bed {
float: left;
display: inline;
padding-bottom: 5px;
line-height: 14px;
}
.W_level_ico {
display: inline-block;
overflow: hidden;
height: 9px;
width: 28px;
font-size: 0;
padding: 5px 0 0 6px;
line-height: 14px;
margin: 0 2px;
background: url("../images/level.png") no-repeat;
_background: url("../images/level.png") no-repeat;
background-position: 0 -30px;
}
.W_level_num {
display: inline-block;
height: 10px;
font-size: 0;
width: 26px;
line-height: 14px;
background: url("../images/level.png") no-repeat 0 -120px;
_background: url("../images/level.png") no-repeat;
}
.W_level_num.l1 { background-position:0 -140px; }.W_level_num.l2 { background-position:0 -150px; }
.W_level_num.l3 { background-position:0 -160px; }.W_level_num.l4 { background-position:0 -170px; }.W_level_num.l5 { background-position:0 -180px; }.W_level_num.l6 { background-position:0 -190px; }
.W_level_num.l7 { background-position:0 -200px; }.W_level_num.l8 { background-position:0 -220px; }.W_level_num.l9 { background-position:0 -230px; }.W_level_num.l10 { background-position:0 -240px; }
.W_level_num.l11 { background-position:0 -250px; }.W_level_num.l12 { background-position:0 -260px; }.W_level_num.l13 { background-position:0 -270px; }.W_level_num.l14 { background-position:0 -280px; }
.W_level_num.l15 { background-position:0 -290px; }.W_level_num.l16 { background-position:0 -300px; }.W_level_num.l17 { background-position:0 -310px; }.W_level_num.l18 { background-position:0 -320px; }
.W_level_num.l19 { background-position:0 -330px; }.W_level_num.l20 { background-position:0 -340px; }